* {
  box-sizing: border-box;
}

body {
  font-family: monospace;
  background-color: lightgrey;
  color: darkblue;
  text-align: center;
}

button, input[type="text"] {
  padding: 5px;
}

button:hover {
  cursor: pointer;
}

.error-message {
  color: red;
}

.hidden {
  display: none;
}

h1 {
  color: black;
  font-size: 28px;
}

li>h3 {
  font-size: 18px
}

li>p {
  color: black;
  font-size: 16px;
}

form>label {
  font-size: 16px;
}